.grid {
  margin-top: 200px;
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid black 3px;
}
.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background: greenyellow;
}
.user {
  position: absolute;
  width: 80px;
  height: 15px;
  background: rgb(255, 224, 47);
}
.ball {
  position: absolute;
  background-color: brown;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
